html, body {
  background-color: #FAF0E0;
}

#header-logo-icon {
  font-size: 1.5em;
}

h1 {
  font-weight: 800;
}

h1 .title-text {
  position: relative;
  left: -0.5em;
  -webkit-text-stroke-width: 0.02em;
  -webkit-text-stroke-color: #FAF0E0;
}