# python virtual environment
venv

# python cache
__pycache__

# set env script
setenv*.sh

# vim temp file
*.swp

# config files
config/*
!config/config.py.template

# JetBrains IDE
.idea/

# oracle cards
oracle-cards.json

# card count tools
count_cards.py
count_images.py

